@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

.heart-animation {
  animation: heartFloat 1s ease-out forwards;
}

@keyframes heartFloat {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -70px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100px) scale(0);
    opacity: 0;
  }
}
